._3mBGX18f8aO2xuqBWKU8ed {
  display: block;
  position: relative;
  top: 10%;
  width: 85%; height: 65%;
  overflow: visible;
  margin: 0 auto;
}

._2DiYkQYUiEsT8-oNjwEvhF {
  fill : #FFFFFF;
  stroke : #CCC;
  stroke-width : 3pt;
  /* transition: fill 1s; */
}

/* .mapPath:hover {
  fill : #F8F8F8;
  transition: fill 0ms;
} */

._1K4WXJtUOdocH1c78p4jPZ {
  fill: transparent;
  stroke-width: 0.4rem;
  r: 1rem;
}


._2EcVSUcq3br5PfoivRLfF4 {
  r: 0.4rem;
}


._3Cr4YQWHu3WfPbwxegAjpM {
  transform: translateY(2.75rem);
  font-size: 1.25rem;
  text-anchor: middle;
  font-family: TypoLyrique13, Helvetica, Arial, sans-serif;
  font-family: var(--font-family-2);
}

._164xTZXChpa_jwQD4XcUQR {
  fill: transparent;
  stroke-width : 0.5rem;
  stroke-dasharray : 10 8;
  opacity: 0.75;
}

._2N2tTq-1waJtjxI1fOI0yP:hover {
  cursor: pointer;
}

._2N2tTq-1waJtjxI1fOI0yP:hover ._1K4WXJtUOdocH1c78p4jPZ{
    stroke-width: 0.6rem;
    r: 1.25rem;
}

._2N2tTq-1waJtjxI1fOI0yP:hover ._3Cr4YQWHu3WfPbwxegAjpM{
  text-decoration: underline;
}
._3MLz7Nnp4rp7WBJUrDCNKa, .rj31aqKKCnmLXyr3cOtSn {
    position: relative;
    border: 0.125rem solid black;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 0.03125rem;
    background: #FFFFFF;
    background: var(--color-white);
}

._1Zwq6tiJg3TE_2Tw2TqHw4, .NJvTHbt-sLHzTRMGLePV1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.3rem 0.875rem;
    border: 0.125rem solid black;
    overflow: hidden;
}

.NJvTHbt-sLHzTRMGLePV1 {
    justify-content: flex-end;
}

.fV4kKSMFuZp1iYE89AW_r {
    display: flex;
}

._2pziwxhhBQhpssxogpBXDy {
    padding: 0 !important;
}

.ILanV2zrPllIvMO_vM9cl {
    border: none !important;
}

.Rzb3g_gGoS-4aiuhQvGiM {
    width: 10%;
}

.f8X8olF8_uDwXD3fCdeY3 {
    width: 15%;
}

._2_7GbbCVgZKm4YCtNt4Vfe {
    width: 20%;
}

.EU91rsDF_ip2LKRZX3NDi {
    width: 25%;
}

._2WzDMBC71LuZviAQhEGcYY {
    width: 30%;
}

._39LZOqdnWmogKn096nzWW4 {
    width: 33.33%;
}

.XNb5yJv0nhGF3K_et416q {
    width: 35%;
}

._2sdmZ_zTqltdjYz8UOKSo {
    width: 40%;
}

._18uzsY8ND7E3_5A79zPHbi {
    width: 45%;
}

._2Spepu8lxrU9PqCxkJxiV1 {
    width: 50%;
}

.dO4Vsf-zEbLddhuRCsaI8 {
    width: 55%;
}

.xECMS43WP2B5CTz2Mbw-b {
    width: 60%;
}

._2y6ZMoi1jKoeywBERoX6j6 {
    width: 65%;
}

.dfOboaQ0CGSWrIuCUoW3g {
    width: 66.66%;
}

.MT6kt16Acrp3dYlCLXL50 {
    width: 70%;
}

._1vR92XpiXmeHFCDLuiCVkx {
    width: 75%;
}

._3n6ZJTl1E04v8Uzz75grn2 {
    width: 80%;
}

._1_pQ6oJQNKwFz8U2S2wOhU {
    width: 90%;
}

._2EspANcw-cQ0y6jbUYLT13 {
    width: 100%;
}

._2EOzJIMjBuLYeC6VcWl_W3 {
    height: 10%;
}

._3jPlIWktq7Ufc8KVke3eU4 {
    height: 15%;
}

._1erkTnmHLwj_Czd2mjYDBJ {
    height: 20%;
}

._1ei7E1MZjoLM-6QktDEMeD {
    height: 25%;
}

._1obJpn_GFn97mb-T8eP-gv {
    height: 30%;
}

._2TSzEplG5bE-CCgPxEq-IT {
    height: 33.33%;
}

._1msywNs7TK0qqvxDJXgviq {
    height: 35%;
}

._18wku6CvqFqf7XiI_93FCn {
    height: 40%;
}

.TLbQ9o_ba4IqAnEEIUSdY {
    height: 45%;
}

._3Ex5_Dvd1fCpHjdtUb8QuT {
    height: 50%;
}

._2usKbcBxJjR9g9mIcGJm8P {
    height: 60%;
}

._1Bj4T99-hBkYTniEpCgcrY {
    height: 65%;
}

._18LZD8CO29SXXNH9e0yZYQ {
    height: 66.66%;
}

._3xtEXvwBSCQZZTUDZShzs4 {
    height: 70%;
}

._2PABEay7luqbDRSWQSxn1S {
    height: 75%;
}

._3sqfkp7ffV5FvkUERCBN5c {
    height: 80%;
}

._3rm5IYqKR7X2wZT0EcP901 {
    height: 90%;
}

._2x6wYSkPZIAmWs-Dv6Otqq {
    height: 100%;
}

._1L2TYMlzs8retJm6rcz-OM {
    /* position: relative; */
    /* box-sizing: border-box; */
    /* top: 8%; */
    height: 60%;
    width: auto;
    margin: 0 auto;
}

._1cZE9ySrVL3JARFkkNuWHj {}

._1VvN5ttrvYkeuz888dwHfK {
    margin-top: 0.625rem;
    font: bold 4.375rem TypoLyrique13, Helvetica, Arial, sans-serif;
    font: bold 4.375rem var(--font-family-2);
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    text-align: center;
}

._1VvN5ttrvYkeuz888dwHfK:hover {
    cursor: pointer;
    text-decoration: underline;
}

._1whWogTDNdW4iCsrT6_MX_ {
    text-transform: uppercase;
    line-height: 1;
}

._33atyckueU7oPk2N66ODwp, .j1PLc6L_WGYDTZqz4LW-m {
    font: bold 1.875rem TypoLyrique13, Helvetica, Arial, sans-serif;
    font: bold 1.875rem var(--font-family-2);
    letter-spacing: 0.1875rem;
}

._1IxNNQpB0MnFsvl1Spw6C_ {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    color: var(--color-black);
    outline: 0;
    text-align: center;
}

._1IxNNQpB0MnFsvl1Spw6C_:hover {
    text-decoration: underline;
}

.rj31aqKKCnmLXyr3cOtSn {
    border: 0.1875rem solid black;
    font-size: calc((2vw + 5vh) / 2);
    line-height: 135%;
    letter-spacing: 0.05vw;
}

.rj31aqKKCnmLXyr3cOtSn ._1Zwq6tiJg3TE_2Tw2TqHw4 {
    padding: 3vh 3vw;
    border: 0.1875rem solid black;
}

.rj31aqKKCnmLXyr3cOtSn ._1VvN5ttrvYkeuz888dwHfK {
    font-size: calc((11vw + 11vh) / 2);
    letter-spacing: 0.3vw;
}

.rj31aqKKCnmLXyr3cOtSn ._1VvN5ttrvYkeuz888dwHfK:hover {
    cursor: default;
    text-decoration: none;
}

._12TqXg9tiYjGIQhJ0joHY9 {
    text-transform: uppercase;
}

.rj31aqKKCnmLXyr3cOtSn ._33atyckueU7oPk2N66ODwp, .rj31aqKKCnmLXyr3cOtSn .j1PLc6L_WGYDTZqz4LW-m {
    letter-spacing: 0.05vw;
}

.rj31aqKKCnmLXyr3cOtSn .j1PLc6L_WGYDTZqz4LW-m {
    text-align: center;
    letter-spacing: 0.2vw;
    font-size: calc((3vw + 6vh) / 2);
}

._1KEcFlzmCKCcQEVWX9ih_X {
    background: #FFFFFF;
    background: var(--color-white);
}

._3jr2sQnUEfu6dbRWwAu7LY:hover {
    cursor: pointer;
}
._2sHRXO-nnxF2Kp6YYoJIfK {
    position: fixed; top: 0; left: 0;
    display: inline-block;
    transition: width 200ms, height 200ms;
    /* box-shadow: 0.625rem 0.625rem 0.625rem 0 rgba(0,0,0,0.25); */
  }
  
  ._2sHRXO-nnxF2Kp6YYoJIfK._8uVQ_HRNEkakh2VfgK0EG {
    transition: top 200ms, left 200ms, width 200ms, height 200ms;
  }
  
  ._2sHRXO-nnxF2Kp6YYoJIfK::before {
    position: absolute; left: 0.75rem; top: 0.75rem;
    content: "";
    display: block; width: 100%; height: 100%;
    background: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 0.125rem,
      #000000 0.125rem,
      #000000 0.250rem
    );
    background: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 0.125rem,
      var(--color-black) 0.125rem,
      var(--color-black) 0.250rem
    );
  }
._2oExzUs-thVdgi5RFS4NHL {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#EEFFFF, #FFEEFF);
}

.Ee3SMUQ9Yi129wzs1XMDE {
  z-index: 20;
  position: absolute; 
  bottom: 3%; 
  right: 3%; 
  width: auto; 
  height: 20%;
  opacity: 0.8;
}

._14we1WABI3Qvxwhz_bp3dA {
  z-index: 50;
  position: absolute; 
  top: 0; 
  left: 0; 
  overflow: visible;
}
@font-face {
    font-family: 'CircularStd';
    src: url(/gaite-nomade/assets/CircularStd-Bold.otf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'TypoLyrique13';
    src: url(/gaite-nomade/assets/TypoLyrique13-Bold.otf) format('truetype');
    font-weight: 700;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --font-family-1: CircularStd, Helvetica, Arial, sans-serif;
    --font-family-2: TypoLyrique13, Helvetica, Arial, sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0; 
  border: 0;
  padding: 0; 
  background-color: transparent;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: CircularStd, Helvetica, Arial, sans-serif;
  font-family: var(--font-family-1);
  font-size: 1rem;
}

body, input, textarea, button, select {
  line-height: 130%;
}

