@font-face {
    font-family: 'CircularStd';
    src: url('../assets/fonts/CircularStd-Bold.otf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'TypoLyrique13';
    src: url('../assets/fonts/TypoLyrique13-Bold.otf') format('truetype');
    font-weight: 700;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --font-family-1: CircularStd, Helvetica, Arial, sans-serif;
    --font-family-2: TypoLyrique13, Helvetica, Arial, sans-serif;
}
