.map {
  display: block;
  position: relative;
  top: 10%;
  width: 85%; height: 65%;
  overflow: visible;
  margin: 0 auto;
}

.mapPath {
  fill : #FFFFFF;
  stroke : #DDD;
  stroke-width : 2pt;
  /* transition: fill 1s; */
}

/* .mapPath:hover {
  fill : #FAFAFA;
  transition: fill 0s;
} */

.mapLink {
  fill: transparent;
  stroke-width : 8;
  /* stroke-dasharray : 8 10; */
  opacity: 0.5;
}

.mapIcon {
  fill: transparent;
  stroke-width: 8pt;
}

.mapIcon:hover {
  cursor: pointer;
}

.mapText {
  font-size: 24px;
  font-family: TypoLyrique13;
}

.mapDot {}
