.map {
  display: block;
  position: relative;
  top: 10%;
  width: 85%; height: 65%;
  overflow: visible;
  margin: 0 auto;
}

.mapPath {
  fill : #FFFFFF;
  stroke : #CCC;
  stroke-width : 3pt;
  /* transition: fill 1s; */
}

/* .mapPath:hover {
  fill : #F8F8F8;
  transition: fill 0ms;
} */

.mapIcon {
  fill: transparent;
  stroke-width: 0.4rem;
  r: 1rem;
}


.mapDot {
  r: 0.4rem;
}


.mapText {
  transform: translateY(2.75rem);
  font-size: 1.25rem;
  text-anchor: middle;
  font-family: var(--font-family-2);
}

.mapLink {
  fill: transparent;
  stroke-width : 0.5rem;
  stroke-dasharray : 10 8;
  opacity: 0.75;
}

.mapEvent:hover {
  cursor: pointer;
}

.mapEvent:hover .mapIcon{
    stroke-width: 0.6rem;
    r: 1.25rem;
}

.mapEvent:hover .mapText{
  text-decoration: underline;
}